<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript"src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<!-- 1.双向数据绑定 -->
		<input type="password" v-model="password">

		<!-- 2. -->
		<p v-if="chars > 8">字符大于8个</p>
		<p v-else-if="chars > 0">有几个字符</p>
		<p v-else>没有字符</p>

		<!-- 3. -->
		<ol>
			<li v-for="sub in subs">
				{{sub.name}}
				<ul>
					<li v-for="item in sub.sub">
						{{item}}
					</li>
				</ul>
			</li>
		</ol>
	</div>
	<script type="text/javascript">
		//vue 指令 --> v-指令语法：指令参数=指令表达式
		var vm = new Vue ({
			el : '#app',
			data : {
				password: "",
				chars: 10,
				subs : [{
					name: "javascript",
					sub: ["vue","react","angular"]
				}, {
					name: "database",
					sub: ["mysql","mongodb","sqlserver"]
				}, {
					name: "system",
					sub: ["macOS","linux","windows"]
				}]
			}
		})
	</script>
</body>
</html>